.header {
  background-color: var(--accent-color);
  margin-bottom: 65px;
}

.header > .container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 25px;
}

.logo-text {
  margin-top: 29px;
  margin-bottom: 29px;

  color: #ffffff;

  font-weight: 700;
  font-size: 20.7133px;
  line-height: 1.2;
}
